.solar-system {
  margin: 0 auto;
  position: relative;
}

.solar-system__sun {
  fill: url(#sunGradient);
}

.solar-system__sun:hover {
  stroke: #a90000;
  stroke-width: 1;
}

.solar-system__orbit {
  fill: none;
  stroke: #cccccc;
  stroke-width: 1;
}

.solar-system__planet {
  fill: url(#planetGradient1);
}

.solar-system__planet:hover {
  fill: url(#planetGradient2);
}

.solar-system__popup {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  padding: 1em;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}
